* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

#logo {
    font-size: 4vmin;
    padding: 2rem;
    text-align: center;
}

#logo > a {
    text-decoration: none;
    color:#E5FCC2;
    transition: color 0.5s;
    font-size: 5rem;
}

#logo > a:hover
{
  color: #1f96bb;
}

#navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #082f3b;
    color: #333f3d;
}


#navbar > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0rem 8rem 2rem 8rem;    
}

li {
    font-size: 2.4rem;
    padding: 0rem 3rem 0rem 3rem;
    text-align: center;
    width: 33.3%;
}

li > a {
    text-decoration: none;
    color:#E5FCC2;
    transition: color 0.5s;
}

li > a:hover
{
  color: #1f96bb;
}

@media (max-width: 550px) {
    #logo {
        padding: 2rem;
    }
    #navbar > ul {
        padding: 0rem 2rem 1rem 2rem;
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 0 1.5rem 1rem 1.5rem;
        width: 50%;
    }
}


.container {
    position: relative;
    text-align: center;
    margin-top: 60px;
    height: 100vh;
}

#title-pic {
    filter: brightness(20%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.title-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 2.5vw;
    color: #E5FCC2;
    transition: color 0.5s;
}  

.title-text:hover
{
  color: #1f96bb;
}

#home-partners {
    background-image: linear-gradient(#0c4353, black);
    height: 600px;
    margin-top: -2px;
    width: 100%;

}

#partner-template {
  height: 800px;
  background-color: white;
  width: 30%;
  position: absolute;
}

#partners-pic
{
  height: 800px;
  width: 70%;
  transform: translate(42.89%,0%);
  filter: brightness(30%);
}

.partners-text1
{
  margin-left: 40px;
  margin-top: 200px;
  font-size: 50px;
  width: 500px;
  text-align: center;
  color: black;
}

.partners-text2
{
  margin-top: 100px;
  margin-left: 40px;
  font-size: 25px;
  text-align: center;
  width: 500px;
}

.instant-text
{
  font-weight: bold;
  font-size: 30px;
}

.difficult-text
{
  font-weight: bold;
  font-size: 57px;
}

#questions-pic-background
{
  margin-top: -2px;
  background-image: linear-gradient(black, #0c4353);
  height: 1000px;
  width: 100%;
  position: absolute;
}

#questions-pic
{
  position: absolute;
  transform: translate(350px,200px);
  border-width: 100px;
  border: 20px solid white;
  box-shadow: 20px 20px 10px black;
  
}

#input-questions
{
  margin-top: -2px;
  height:1000px;
  width: 40%;
  background-image: linear-gradient(black, #0c4353);
  transform: translate(130%,0%);

}

.questions-text
{
  color: #E5FCC2;
  font-size: 60px;
  padding-top: 120px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 100px;
}

#question-margin
{
  margin-bottom: 50px;
}

.question-text
{
  color: #E5FCC2;;
  font-size: 30px;
  padding-left: 100px;
}

#age-question-input
{
  width: 100px;
  margin-top: 10px;
  margin-left: 120px;
  font-size: 30px;
  text-align: center;

}

#main-question-input
{
  width: 100px;
  margin-top: 10px;
  margin-left: 120px;
  font-size: 30px;
  text-align: center;

}

#hobbies-input
{
  width: 600px;
  margin-top: 10px;
  margin-left: 120px;
  font-size: 30px;
  text-align: center;

}

.input-text
{
  color: white;
  font-size: 30px;
  padding-left: 10px;
  display: inline-block;
}

.compute-button
{
  background-color: #082f3b;
  color: #E5FCC2;
  font-size: 20px;
  font-weight: bold;
  width: 40%;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 560px;
  transition: opacity 0.15s;
  transform: translate(-200px, -60px);
}

.compute-button:hover
{
  opacity: 0.5;
}

#output-display
{
  height: 900px;
  width: 60%;
  background-image: linear-gradient(#0c4353, white);
  position: absolute;
  font-size: 50px;
  transform: translate(66.6%,0%);
}

#output-text
{
  color: white;
  text-align: center;
  padding-top: 300px;
  font-weight: bold;

}

#output-pic
{
  height: 900px;
  width: 40%;
  filter: brightness(100%);
}

.mission-text  {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -40%);
    font-size: min(4vw, 36px);
    color: #E5FCC2;
    text-align: justify;
}  

@media (max-width: 550px) {
    

    .title-text {
        font-size: 4.8vw;
    }
}

#about-us {
    background-color: #9DE0AD;
    height: 100vh;
    margin-top: -2px;
}


#about-us > h2 {
    text-align: center;
    color: #2e3332;
    font-size: 3rem;
    padding-top: 6rem;
    text-decoration:overline;

}

#about-us > #p1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    padding-bottom: 4rem;
}

#about-us > #p2 {
    text-align: left;
    font-size: 2rem;
    padding: 2rem;
    font-style: italic;
}

#about-us > #p3 {
    text-align: right;
    font-size: 2rem;
    padding: 2rem;
    font-style: italic;
}

#about-us > div {
    padding-bottom: 6rem;
}

#nurs-home {
    position: relative;
    margin-top: 170px;
}

#nursing-pic {
    width: 50%;
    height: 200px;
    object-fit: cover;
    padding-left: 2rem;
}

#heading {
    padding: 2rem;
    font-size: 2rem;
    color: #45ADA8;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > div {
    padding-left: 2rem;
    font-size: 1.3rem;
}

@media (max-width: 850px) {
    #nurs-home {
        margin-top: 190px;
    }
}

@media (max-width: 500px) {

    #heading {
        text-align: center;
    }

    .flex{
        flex-direction: column;
        align-items: center;
    }

    .flex > div {
        padding-left: 0;
        padding-top: 2rem;
    }

    #nursing-pic {
        padding-left: 0;
    }
}

.below-nav {
    position: relative;
    margin-top: 170px;
}

input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

.filters {
    text-align: center;
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
    list-style: none;
  }
   
  @media (max-width: 600px) {
    .filters {
        flex-wrap: wrap;
        align-items: center;
     }
     
     .filters > li { 
        margin-bottom: 0.5rem;
     }
  }
   
  .filters label {
    padding: 0.5rem 1rem;
    margin: 0rem 2rem 0rem 2rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
   
  .filters label:hover {
    background: var(--green);
    color: var(--white);
  }

:root {
    --black: #2e3332;
    --white: #fff;
    --green: #547980;
  }
   
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 90rem);
    grid-gap: 1rem;
    justify-items: center;
    padding-top: 2rem;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block: 0;
  }
   
  .post {
    background-color: #fafafa;
    margin: 0;
    padding: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    list-style-type: none;
    box-shadow: 3px 3px 15px gray;
    max-width: 40rem;
  }
  

  .post-img {
    display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  }

  .post > a > h2 {
    display: block;
    font-size: 2.4rem;
    
  }   
 

  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }

[value="Art"]:checked ~ .posts .post:not([data-category~="Art"]),
[value="Cooking"]:checked ~ .posts .post:not([data-category~="Cooking"]),
[value="Outside"]:checked ~ .posts .post:not([data-category~="Outside"]){
  display: none;
}

[value="All"]:checked ~ .filters [for="All"],
[value="Art"]:checked ~ .filters [for="Art"],
[value="Cooking"]:checked ~ .filters [for="Cooking"],
[value="Outside"]:checked ~ .filters [for="Outside"] {
  background: var(--green);
  color: var(--white);
}

